:root {
  --white: #fff;
  --white1: #fff;
  --black: #000;
  --black1: #7a7575;
  --black3: #7a7575;
  --gray: #fafafa;
  --sidePanel-color: #a5a8ad;
  --sidePanel-color1: #646464;
  --taskList-color: #fff;
  --taskList-shadown: rgb(150 147 147 / 25%);
  --deadline-color: #6623f5;
  --deadline-bg: #fff;
  --bubble-color: #6623f5;
  --bubble-color1: #6623f5;
  --bubble-color2: rgba(255, 255, 255, 0);
  --blur: rgba(196, 196, 196, 0.5);
  --addTask-main: #fff;
}
[data-theme="dark"] {
  --white: #221f2e;
  --white1: #2e2b3f;
  --black: #fff;
  --black1: #fff;
  --black3: rgb(129, 129, 129);
  --gray: black;
  --sidePanel-color: #fff;
  --sidePanel-color1: #fff;
  --taskList-color: #2e2b3f;
  --taskList-shadown: rgb(136 119 119 / 25%);
  --deadline-color: #fff;
  --deadline-bg: #6623f5;
  --bubble-color: #9a86fd;
  --bubble-color1: #fff;
  --bubble-color2: #6623f5;
  --blur: rgb(90 89 148 / 50%);
  --addTask-main: #2e2b3f;
}
body {
  .dato {
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
  }
  .container {
    max-width: 1560px;
    min-height: 100vh;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
  }
  .sidePanel {
    width: 150px;
    padding: 20px 20px;
    background-color: var(--white);
    &-logo {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      &-img {
        width: 70px;
        height: 70px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-name {
        color: #9a86fd;
        font-size: 24px;
        font-weight: bold;
        margin-left: 3px;
        .green {
          color: #6623f5;
        }
      }
    }
    &-menu {
      margin-bottom: 50px;

      &-item {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
        margin-left: 50px;
        a {
          text-decoration: none;
          color: var(--sidePanel-color);
        }
      }
    }
  }
  .dashboard {
    width: calc(100% - 190px);
    .task {
      &-headers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        margin-bottom: 40px;
        i {
          font-size: 40px;
          z-index: 9999;
        }
      }
      &-main {
        width: auto;
        height: calc(100% - 110px);
        padding: 30px 70px 20px;
      }
      &-title {
        color: var(--black);
        font-size: 36px;
        font-weight: bold;
      }
      &-checked {
        font-weight: 500;
        font-size: 18px;
        color: var(--sidePanel-color1);
      }
      &-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid #e5e5e5;
        &_add {
          margin-right: 20px;
          color: var(--bubble-color);
        }
        &_add:hover {
          color: #fff;
          border-color: #6623f5;
          background-color: #6623f5;
          transition: all 0.25s linear;
        }
        &_filter {
          color: #6623f5;
          border-color: #6623f5;
        }
        &_filter:hover {
          color: #fff;
          border-color: #6623f5;
          background-color: #6623f5;
          transition: all 0.25s linear;
        }
      }
      &-list {
        &-main {
          width: 100%;
          padding-right: 20px;
          min-height: 680px;
        }
        &-main {
          overflow-y: scroll;
        }

        &-main::-webkit-scrollbar {
          display: none;
        }

        &-main {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }
        &-first {
          margin-bottom: 40px;
          display: grid;
          grid-template-columns: 11% 37% 16% 18% 8%;
          justify-content: center;
        }
        &-item {
          min-height: 100px;
          display: flex;
          align-items: center;
          &:first-child {
            border-radius: 10px 0 0 10px;
            color: #fff;
            text-align: center;
            justify-content: center;
            font-size: 22px;
          }
          &:nth-child(2) {
            display: flex;
            gap: 0 10px;
            margin-right: 20px;
            h3 {
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 10px;
              color: var(--black);
            }
            p {
              color: var(--sidePanel-color);
              font-size: 13px;
              line-height: 1.5;
              width: 100%; // chiều rộng bằng khối bao nó
              white-space: pre-wrap;
              overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
              text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
              -webkit-line-clamp: 2; // số dòng muốn hiển thị
              -webkit-box-orient: vertical;
              display: -webkit-box;
            }
          }
          .tast-list-prio {
            padding: 10px 30px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
          }
          .tast-list-deadline {
            width: 110px;
            height: 90%;
            border: 1px solid #6623f5;
            background-color: var(--bubble-color2);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &-year {
              color: var(--bubble-color1);
              font-size: 13px;
              margin-bottom: 3px;
            }
            &-month {
              color: var(--bubble-color1);
              margin-bottom: 3px;
              font-size: 13px;
            }
            &-day {
              color: var(--bubble-color1);
              font-weight: bold;
              font-size: 23px;
              margin-bottom: 3px;
            }
            &-time {
              color: var(--bubble-color1);
              margin-bottom: 3px;
            }
          }
        }

        &-data {
          margin-bottom: 40px;
          display: grid;
          grid-template-columns: 13% 40% 17% 17% 10%;
          border-radius: 10px;
          align-items: stretch;
          box-shadow: (2px 5px 18px 3px var(--taskList-shadown));
          background-color: var(--taskList-color);
        }
        &-icon {
          color: var(--bubble-color1);

          font-size: 25px;
          cursor: pointer;
          .icon-1 {
            margin-right: 15px;
          }
        }
        &-column {
          color: var(--black);
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }

  .active {
    color: #6623f5;
  }
  .addTask {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blur);
    visibility: hidden;
    cursor: zoom-out;
    &-main {
      min-height: 500px;
      width: 100%;
      max-width: 450px;
      background-color: var(--addTask-main);
      border-radius: 20px;
      padding: 20px;
      position: relative;
      cursor: auto;
    }
    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50rem;
      background-color: #6623f5;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    &-title {
      text-align: center;
      margin-top: 50px;
      font-size: 36px;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: var(--bubble-color);
      margin-bottom: 30px;
    }
  }
  .editTask {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blur);
    visibility: hidden;
    cursor: zoom-out;
    &-main {
      min-height: 500px;
      width: 100%;
      max-width: 450px;
      background-color: var(--addTask-main);
      border-radius: 20px;
      padding: 20px;
      position: relative;
      cursor: auto;
    }
    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50rem;
      background-color: #6623f5;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    &-title {
      text-align: center;
      margin-top: 50px;
      font-size: 36px;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: #6623f5;
      margin-bottom: 30px;
    }
  }
  .is-show {
    visibility: visible;
  }

  .abc {
    background-color: red;
  }
  table {
    width: 100%;
  }
  .input {
    margin-bottom: 20px;
    color: #6623f5;
  }
  .form {
    width: 100%;
    input,
    fieldset {
      color: var(--black);
      border: 0.1px solid var(--black3);
      border-radius: 5px;
    }
    textarea {
      color: var(--black);
    }
    ::placeholder {
      color: var(--black1);
    }
    label {
      color: var(--black1);
      background-color: var(--addTask-main);
    }
  }
  .dropdown {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    svg {
      stroke: var(--black);
    }
  }
  .dropdown * {
  }
  .red {
    background-color: #545454;
    color: red;
  }
  .control {
    display: flex;
    justify-content: space-between;
    width: 100%;
    * {
      width: 47%;
      padding: 12px 22px;
    }
  }
  .red-light {
    background-color: #d37171;
  }

  .not-started {
    background-color: #545454;
  }
  .pending {
    background-color: #e4b978;
  }
  .delayed {
    background-color: #d37171;
  }
  .done {
    background-color: #9bb9f5;
  }
  .in-progress {
    background-color: #9fd89b;
  }
  .Critical {
    background-color: #f59b9b;
    color: #d02222;
  }
  .High {
    background-color: #feceab;
    color: #ff8125;
  }
  .checked-box {
    color: var(--black);
  }
  .Medium {
    background-color: #ffeab9;
    color: #c99c30;
  }
  .Low {
    background-color: #a0a0a0;
    color: #363636;
  }
  .btn-red {
    color: #d02222;
    background-color: red;
  }
  .whites {
    color: #fff;
  }
  #demo-simple-select-required-label {
    background-color: var(--addTask-main);
    color: var(--black);
  }
  #demo-simple-select-required {
    border: 1px solid var(--black3);
    color: var(--black);
  }

  .abcxyz {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    &-main {
      &-sort {
        display: none;
      }
      svg {
        stroke: var(--black);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .container {
      flex-direction: column;
    }
    .sidePanel {
      width: 100%;
      padding: 0;
      &-menu-list {
        display: none;
      }
    }
    .dashboard {
      width: 100%;
      .task {
        &-main {
          padding: 30px 30px 20px;
        }
        &-list {
          &-item {
            min-height: 130px;
          }
          &-prio {
            padding: 10px 22px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .sidePanel {
      width: 100%;
      padding: 0;
      &-menu-list {
        display: none;
      }
    }
    .editTask,
    .addTask {
      &-main {
        width: 80%;
      }
    }
    .dashboard {
      width: 100%;
      .task {
        &-box {
          display: block;
        }

        &-main {
          padding: 30px 30px 20px;
        }
        &-list {
          &-first {
            display: none;
          }
          &-data {
            display: block;
          }
          &-item {
            min-height: 60px;
            padding: 0 20px;
            &:nth-child(2) {
              margin-top: 20px;
              p {
                -webkit-line-clamp: 3;
              }
            }
            &:first-child {
              border-radius: 10px 10px 0 0;
            }
            &:last-child {
              justify-content: flex-end;
            }
          }

          &-prio {
            padding: 10px 22px;
          }
        }
      }
      .abcxyz {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10px;
        flex-direction: column;
        &-main {
          display: flex;
          margin-top: 20px;
          z-index: 0;
          &-sort {
            display: block;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .datetime {
    margin-bottom: 20px;
    span {
      color: var(--black);
    }
    input {
      color: var(--black);
    }
    svg {
      stroke: var(--black);
    }
  }
}
